<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<%= assetFingerprint('stylesheets/styles.css')%>">
    <title>Title</title>
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/" class="logo"></a>
        <ul class="menu">
            <li><a href="/">Hello</a></li>
        </ul>
    </div>
</header>